<div class="container pt-5">
    <div class="m-auto w-25">
        <form action="/admin" method="POST" >
            <label for="email" class="form-label">admin_email:</label>
            <input type="text" name="email" id="email" class="form-control my-2" placeholder="please enter your Truck ID" required>
            
            <label for="password" class="form-label">password:</label>
            <input type="password" name="password" id="password" class="form-control my-2" placeholder="please enter your  Password" required>
            
            <input type="submit" value="sign_in" name="sign_in" class="btn btn-dark">
           
        </form>
    </div>
    {{#if exp}}
        <div class="alert alert-dark m-auto w-25 mt-5" role="alert">
            {{exp}}
        </div>
    {{/if}}

</div>