<div class="container pt-5">
    <div class="m-auto w-25">
        <form action="/parcel/add" method="POST" >
            <label for="truck"  class="form-label">Choose Truck:</label>
            <input class="form-control " list="trucks" name="truck" id="truck" placeholder="please choose truck name" required>
            <datalist id="trucks"  >
                {{#each trucks }}
                        <option value="{{this.name}}">
                {{/each}}
            </datalist>

            <label for="name" class="form-label">Name:</label>
            <input type="text" name="name" id="name" class="form-control my-2" placeholder="please enter  parcel name" required>
            
            <label for="details" class="form-label">parcel details:</label>
            <input type="details" id="details" name="details" class="form-control my-2" placeholder="please enter parcel details" required>
            
            <label for="weight" class="form-label">Weight:</label>
            <input type="weight" id="weight" name="weight" class="form-control my-2" placeholder="please enter parcel weight" required>


            <input type="submit" value="ADD" name="add" class="btn btn-dark" >
           
        </form>
    </div>
</div>
