<div class="container pt-5">
    <div class="m-auto w-25">
        <form action="/truck/add" method="POST" >
            <label for="id" class="form-label">Truck_ID</label>
            <input type="text" name="truck_id" id="id" class="form-control my-2" placeholder="please enter the truck id" required>
            
            <label for="name" class="form-label">Name:</label>
            <input type="text" name="name" id="name" class="form-control my-2" placeholder="please enter the truck name" required>

            <label for="weight" class="form-label">Weight:</label>
            <input type="weight" id="weight" name="weight" class="form-control my-2" placeholder="please enter the truck weight" required>

            <label for="password" class="form-label">password:</label>
            <input type="password" id="password" name="password" class="form-control my-2" placeholder="please enter your password" required>
            
            <input type="submit" value="ADD" name="add" class="btn btn-dark" >
           
        </form>
    </div>
</div>
